body {
    background-color: #000000;
    margin: 0px;
    padding: 0px;
  }
  html{
    scroll-behavior: smooth;
  }
  #bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(50%);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  
}
.nav-colored { background-color:#000;
  transition: background-color 0.5s ease;
 }
.nav-transparent { background-color:transparent;
}

.navbar-nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.navbar-nav .nav-item {
  margin: 0 25px; 
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;

}
.navbar-toggler {
    background: transparent; 
}
.text-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  
}

.text-overlay h1 {
  font-size: 88px; /* Adjust as needed */
  margin: 0;
  color: rgb(255, 174, 0);
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3); 
  
}


.text-overlay p {
  font-size: 24px; 
  margin: 0;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.heading2 {
  color: rgb(255, 255, 255);
  margin-top: 650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1e2b; 
  padding: 10px; 
}

.heading-text {
  background-color: inherit; 
  padding: 10px;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.btn {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0 0 10px rgba(248, 174, 0);
 top: 100px;
  font-size: 22px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: 0.5s ease;
}

.btn:hover {
  color: #1e1e2b;
  transition-delay: 0.3s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.3s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
  
}
.section2{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 25px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.section2 h4{
  letter-spacing: .15em;
}
.section3 {
  margin-top: 20px;
}
.section3 h1{
  margin-bottom: 10px;
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.section3 img{
  margin-top: 50px;
  height: 80%;
  width: 40%;
  margin-left: 10px;
}
.accordian{
  margin: 40px 0px;
  margin-right: 100px;
  width: 700px;
}
.accordian li{
  list-style: none;
  width: 90%;
  margin: 40px;
  margin-left: 50px;
  padding: 10px;
  border-radius: 8px;
  background: #1b1b1b;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),-6px -6px 10px -1px rgba(255,255,255,0.7);
  font-family: "Source Sans 3", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.accordian li label{
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  max-height: 300px;
}
label::before{
  content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}
input[type="radio"]{
  display: none;
}
.accordian .content{
  color: #ffffff;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}
.accordian input[type="radio"]:checked + label + .content{
  max-height: 300px;
  padding: 10px 10px 20px;
}
.accordian input[type="radio"]:checked + label + .content{
  max-height: 100px;
  padding: 10px 10px 20px;
}

.accordian input[type="radio"]:checked + label::before{
  content: '-';
}



.para2{
  color: rgb(255, 255, 255);
  text-align: center;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
  width: 100%;
  margin-top: 40px;
  font-size: 50px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  font-style: normal;
  
}
.inpara{
  margin-top: 20px;
  word-spacing: 3px;
  font-size: 20px;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 500;
  color: #ffc506;
  letter-spacing: .15em;
}
.section3{
  display: flex;
}
.section3 img {
  opacity: 0; /* Initially set opacity to 0 */
  transition: opacity 1s ease-in; 
  border-radius: 5%;
}
.head{
  display: flex;
  color: white;
  margin-left: 50px;
}

.section3.fade-in img {
  opacity: 1; 
}
.section4 {
  margin-top: 50px;
  margin-bottom: 100px;
}
.carousel-item img {
  height: 100%; /* Adjust the height as needed */
  object-fit: cover;
  filter: brightness(50%);
}
.carousel-inner {
  filter: brightness(100%);
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}
.carousel-caption h5 {
  font-size: 48px;
  color: #ffc506;
  font-family: "Bree Serif", serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.carousel-caption p {
  font-size: 24px;
  color: #fff;
  font-family: "Source Sans 3", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.explore {
  font-family: "Bree Serif", serif;
  font-weight: 300;
  font-style: normal;
  text-shadow: 0 0 10px rgba(248, 174, 0);
 top: 100px;
  font-size: 27px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.explore::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: 0.5s ease;
}

.explore:hover {
  color: #1e1e2b;
  transition-delay: 0.3s;
}

.explore:hover::before {
  width: 100%;
}

.explore::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.3s ease;
  z-index: -1;
}

.explore:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}
.foot{
  color: white;
}
.foot .list1{
  color: white;
}
.text-muted {
  --bs-text-opacity: 1;
  color: rgb(255 255 255 / 75%) !important;
}
.subs {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.subs::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: 0.5s ease;
}

.subs:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}

.subs:hover::before {
  width: 100%;
}

.subs::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.4s ease;
  z-index: -1;
}

.subs:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}
.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #000000;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}


@media (max-width: 768px) {
  .container, .container-md, .container-sm {
      max-width: 720px;
  }
}
@media (max-width: 576px) {
  .container, .container-sm {
      max-width: 540px;
  }
}







